/* Mobile */
body{
  width: 300px;
  margin: 25px;
  height: 200px;
}

form{
  width: 300px;
  margin: 25px;
  height: 200px;
}

/* Tablet */
@media (min-width: 768px)
{
  body{
     width: 600px;
     height: 400px;
  }
  form{
     width: 600px;
     height: 400px;
  }
}

/* Desktop */
@media (min-width: 1025px)
{
  body{
     width: 900px;
     height: 600px;
     margin: 75px;
  }
  form{
      width: 900px;
     height: 600px;
     margin: 75px;
  }
}

/* Squirrese font */
@font-face {
    font-family: "Squirrese";
    src: url('squirrese.ttf') format('truetype');
}

#input_tag{
    padding: 10px;

}

#input{
    float: left;
    overflow-y: scroll;
    margin: 10px;
    border: solid 5px black;
    padding: 10px;
    width: 40%;
    height: 35%;
}

#output{
    float: left;
    overflow-y: scroll;
    margin: 10px;
    border: solid 5px black;
    padding: 10px;
    width: 40%;
    height: 35%;
}

#phonetics{
  float: right;
  overflow-y: scroll;
  margin: 10px;
  border: dotted 2px black;
  padding: 10px;
  width: 40%;
  height: 25%;
}
/*Dynamic fonts*/
.native{
  font-family: "Wingdings";
}

.foreign{
  font-family: "Arial";
}

/*Static fonts*/
.eng{
  font-family: "Arial";
}

.sq{
  font-family: "Wingdings";
}

.clear{
  clear: both;
}

.buttons{
  float: left;
}
